body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

* {
    box-sizing: border-box;
}

.un-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    padding: 1px;
}

.logo-bar {
    position: absolute;
    top: 5.2%;
    left: calc(50% + 169px);
    width: 48px;
    height: 140px;
}

.avatar {
    width: 100%;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(image-av.jpg);
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.44);
    opacity: 0.8;
}

.nameb {
    width: 100%;
    height: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 9px;
    margin-top: 3px;
    font-weight: 300;
}

.main {
    width: 300px;
    height: 89vh;
    background-color: #171717;
    margin: 5vh auto;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 7px;
}

.main::-webkit-scrollbar {
    width: 0;
}
.main::-moz-scrollbar {
    width: 0;
}

.top {
    width: 100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 3;
}

.top-wrap {
    width: 100%;
    background-color: #171717;
    position: relative;
    box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.28);
}

.bottom {
    margin-top: 421px;
    color: rgba(255, 255, 255, 0.08);
    text-align: center;
}


.peaper {
    width: 100%;
    height: 300px;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #0f0f0f;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='90.000000pt' height='90.000000pt' viewBox='0 0 90.000000 90.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.16, written by Peter Selinger 2001-2019%0A%3C/metadata%3E%3Cg transform='translate(0.000000,90.000000) scale(0.100000,-0.100000)'%0Afill='%232e2e2e' stroke='none'%3E%3Cpath d='M540 814 c-58 -13 -115 -26 -127 -29 -21 -5 -22 -9 -25 -195 -3 -216%0A-3 -216 -84 -229 -87 -13 -124 -54 -124 -136 0 -85 50 -135 135 -135 54 0 95%0A21 119 60 13 24 16 62 16 239 0 210 0 211 23 216 12 3 63 14 112 25 50 11 100%0A22 113 25 21 5 22 10 22 95 l0 90 -37 -1 c-21 0 -85 -11 -143 -25z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.mini .image {
    background-size: 66%;
    transition: all 0.2s;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    transition: opacity .2s;
}

.mini .image {
    width: 35px;
    height: 35px;
    top: 21%;
    left: 13px;
    border-radius: 5px;
}

.void {
    width: 100%;
    height: 58px;
    transition: height 0.2s;
    position: relative;
}

.mini .void {
    height: 0;
}

.test {
    width: 100%;
    height: 59px;
    position: absolute;
    top: calc(50% - 28px);
    transition: all 0.2s;
    display: flex;
    align-items: center;
}

.mini .test {
    top: -50px;
    transition: all 0.2s;
}

.void2 {
    width: 100%;
    height: 109px;
}

.info {
    width: 100%;
    color: white;
}

.ind {
    width: 266px;;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.ind div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.mini .ind {
    overflow: visible;
}

.track {
    font-size: 18px;
    color: #ffffff;
}

.art {
    font-size: 15px;
/*    color: #d33030;*/
    color: #eb3b3b;
}

.mini .track {
    font-size: 14px;
    top: -2px;
}


.mini .art {
    font-size: 13px;
    top: -4px;
    z-index: 2;
}

.time {
    position: relative;
    top: -3px;
}










