.playList {
    width: 100%;
}

.section {
    width: 100%;
    height: 50px;
/*    outline: 1px solid #3b3b3b;*/
    display: flex;
    align-items: center;
    padding: 0px 13px;
    position: relative;
    background-color: rgba(31, 31, 31, 0);
    cursor: pointer;
}

/*
.section:hover {
    background-color: #1a1a1a;
}
*/

.cover {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.textBlock {
/*    outline: 1px solid red;*/
    height: 35px;
}

.textBlock div {
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
    padding-left: 9px;
}

.textBlock .art-name {
    font-size: 11px;
/*    color: #ff7c7c;*/
    color: #bcbcbc;
}

.btnMore {
    transform: rotate(90deg);
    height: 30px;
    width: 28px;
    position: absolute;
    right: 3px;
    font-size: 21px;
    color: #6c6c6c;
    cursor: pointer;
}

.ugu {
    transition: all .2s;
    background-color: rgb(29, 29, 29);
}

.play-ico {
    position: absolute;
    color: wheat;
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    background-position: 12px center;
    background-size: 14px;
    background-repeat: no-repeat;
    opacity: 0.0;
}

.ugu .play-ico {
    transition: all .2s;
    opacity: 0.6;
}

.over .play-ico {
    transition: opacity .2s;
    opacity: 0.6;
}

.over {
    background-color: #141414;
}

.over-played {
    background-color: #191919;
}